<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>R.S.R. TEAM* Protocol for Insulin/Victoza® Injection Initiation</string>
	<key>date</key>
	<date>2014-05-15T17:29:35Z</date>
	<key>formName</key>
	<string>Initiation Form</string>
	<key>patientInfo</key>
	<dict>
		<key>name</key>
		<string>John Doe</string>
	</dict>
	<key>sections</key>
	<array>
		<dict>
			<key>sectionName</key>
			<string>Initial</string>
			<key>questions</key>
			<array>
				<dict>
					<key>title</key>
					<string>feelings</string>
					<key>text</key>
					<string>Feelings concerning taking insulin &amp; having Diabetes (or Victoza®)</string>
					<key>type</key>
					<string>SINGLE_CHECK</string>
					<key>checked</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>knowledge</string>
					<key>text</key>
					<string>Patient knowledge of insulin / Victoza®:</string>
					<key>type</key>
					<string>MULTI_CHECK</string>
					<key>subChecks</key>
					<array>
						<dict>
							<key>title</key>
							<string>family</string>
							<key>text</key>
							<string>Family</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>friend</string>
							<key>text</key>
							<string>Friend</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>other</string>
							<key>text</key>
							<string>Other</string>
							<key>checked</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>preferences</string>
					<key>text</key>
					<string>Patient preferences:</string>
					<key>type</key>
					<string>MULTI_CHECK</string>
					<key>subChecks</key>
					<array>
						<dict>
							<key>title</key>
							<string>disposablePen</string>
							<key>text</key>
							<string>Disposable Pen</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>refillablePen</string>
							<key>text</key>
							<string>Refillable Pen</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>syringe</string>
							<key>text</key>
							<string>Syringe</string>
							<key>checked</key>
							<false/>
						</dict>
					</array>
				</dict>
			</array>
			<key>comments</key>
			<string></string>
		</dict>
		<dict>
			<key>sectionName</key>
			<string>Insulin</string>
			<key>questions</key>
			<array>
				<dict>
					<key>title</key>
					<string>feelings</string>
					<key>text</key>
					<string>Feelings concerning taking insulin &amp; having Diabetes (or Victoza®)</string>
					<key>type</key>
					<string>SINGLE_CHECK</string>
					<key>checked</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>knowledge</string>
					<key>text</key>
					<string>Patient knowledge of insulin / Victoza®:</string>
					<key>type</key>
					<string>MULTI_CHECK</string>
					<key>subChecks</key>
					<array>
						<dict>
							<key>title</key>
							<string>family</string>
							<key>text</key>
							<string>Family</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>friend</string>
							<key>text</key>
							<string>Friend</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>other</string>
							<key>text</key>
							<string>Other</string>
							<key>checked</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>preferences</string>
					<key>text</key>
					<string>Patient preferences:</string>
					<key>type</key>
					<string>MULTI_CHECK</string>
					<key>subChecks</key>
					<array>
						<dict>
							<key>title</key>
							<string>disposablePen</string>
							<key>text</key>
							<string>Disposable Pen</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>refillablePen</string>
							<key>text</key>
							<string>Refillable Pen</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>syringe</string>
							<key>text</key>
							<string>Syringe</string>
							<key>checked</key>
							<false/>
						</dict>
					</array>
				</dict>
			</array>
			<key>comments</key>
			<string></string>
		</dict>
		<dict>
			<key>sectionName</key>
			<string>Procedure</string>
			<key>questions</key>
			<array>
				<dict>
					<key>title</key>
					<string>feelings</string>
					<key>text</key>
					<string>Feelings concerning taking insulin &amp; having Diabetes (or Victoza®)</string>
					<key>type</key>
					<string>SINGLE_CHECK</string>
					<key>checked</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>knowledge</string>
					<key>text</key>
					<string>Patient knowledge of insulin / Victoza®:</string>
					<key>type</key>
					<string>MULTI_CHECK</string>
					<key>subChecks</key>
					<array>
						<dict>
							<key>title</key>
							<string>family</string>
							<key>text</key>
							<string>Family</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>friend</string>
							<key>text</key>
							<string>Friend</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>other</string>
							<key>text</key>
							<string>Other</string>
							<key>checked</key>
							<false/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>preferences</string>
					<key>text</key>
					<string>Patient preferences:</string>
					<key>type</key>
					<string>MULTI_CHECK</string>
					<key>subChecks</key>
					<array>
						<dict>
							<key>title</key>
							<string>disposablePen</string>
							<key>text</key>
							<string>Disposable Pen</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>refillablePen</string>
							<key>text</key>
							<string>Refillable Pen</string>
							<key>checked</key>
							<false/>
						</dict>
						<dict>
							<key>title</key>
							<string>syringe</string>
							<key>text</key>
							<string>Syringe</string>
							<key>checked</key>
							<false/>
						</dict>
					</array>
				</dict>
			</array>
			<key>comments</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
